{% extends 'admintemp/dashindex.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h1 class="text-center">APPOINTMENT VIEW</h1><br>
    <div class="row">
        <div class="card text-center">


<table>
    <tr><th>DATE</th>
    <th>HOSPITAL</th>
    <th>VACCINE</th>
    <th>START_TIME</th>
    <th>END_TIME</th><tr>


     {% for i in form %}
      <tr>
         <td>{{ i.schedule.date }}</td>
         <td>{{ i.schedule.hospital }}</td>
         <td>{{ i.vaccine }}</td>
         <td>{{ i.schedule.start_time }}</td>
         <td>{{ i.schedule.end_time }}</td>
         <td>
             {% if i.status == 0 %}
             <a href="{% url 'approve' i.id %}"><button type="button" class="btn btn-dark">APPROVE</button></a>
             <a href="{% url 'reject' i.id %}"><button type="button" class="btn btn-dark">REJECT</button></a>
             {% elif i.status == 1 %}
             <button type="button" class="btn btn-success">Appointment Confirmed</button>
             {% else %}
             <button type="button" class="btn btn-danger">Rejected</button>
             {% endif %}
         </td>





      </tr>
    {% endfor %}

</table>

        </div>
    </div>
</div>

    {% endblock %}
