{% extends 'admintemp/dashindex.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h1 class="text-center">NURSE VIEW</h1><br>
    <div class="row">
        <div class="card text-center">


<table>
    <tr><th>FIRST_NAME</th>
    <th>GENDER</th>
    <th>PHONE_NO</th>
    <th>HOSPITAL</th><tr>


     {% for i in form %}
      <tr>
         <td>{{ i.first_name }}</td>
         <td>{{ i.gender }}</td>
         <td>{{ i.phone_no }}</td>
         <td>{{ i.hospital }}</td>
         <td><a href="{% url 'nur_update' i.id %}"><button>edit</button></a>
             <a href="{% url 'nur_delete' i.id %}"><button>delete</button> </a></td>




      </tr>
    {% endfor %}

</table>

        </div>
    </div>
</div>

    {% endblock %}
